#header {
    background-color: #0B1E22;
}

.navbar-header {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    padding: 0 1rem;
}

.header__search-bar {
    display: flex;
    flex: 1;
    padding: 0 1rem;
}

.header__search-bar .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    border-radius: 0.3rem;
    padding: 0.16rem;
    background-color: var(--white-color);
}

.header__search-bar .input {
    width: 100%;
    max-width: 20rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1rem;
}

.header_search-btn {
    border: 1px solid transparent;
    padding: 0 0.5rem;
}

.header_search-btn:hover {
    border: 1px solid #000;
    background-color: #e6e6e6;
}

.header_search-btn:active {
    background-color: #c0c0c0;
} 

.header_search-btn-icon {
    /* flex: 1; */
    font-size: 1rem;
    color: var(--white--color);
}

.header__manage-account {
    position: relative;
    padding: 0 1rem;
    align-items: center;
}

.header__manage-account:hover .subnav-list {
    display: block; 
}

.header__manage-account .subnav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 9rem;
    padding: 0.5rem 0;
    background-color: var(--white-color);
    z-index: 1000;
    display: none; 
    border-radius: 0.25rem; 
}

.header__manage-account .subnav-item {
    list-style: none;
    margin: 0 0.4rem;
    padding: 0.1rem 0;
}

.header__manage-account .subnav-item a {
    color: var(--black-color); 
    text-decoration: none;
    display: block;
}

.header__manage-account .subnav-item a:hover {
    background-color: #f0f0f0; 
    color: #005500; 
}

#nav {
    position: sticky;
    height: var(--nav-height);
    background-color: #198754;
    top: 0;
    z-index: 999;
}

.list-navigation {
    display: flex;
    justify-content: center;
    margin: 0 300px;
}

.list-navigation .listNavigationItem {
    list-style: none;  
    align-items: center;
    line-height: var(--nav-height);
    padding: 0 1rem;
}

.list-navigation .listNavigationItem:hover {
    cursor: pointer;
    background-color: #004400;
}

.list-navigation .listNavigationItem a {
    color: var(--black-color);
}

.list-navigation .listNavigationItem:hover a
,.list-navigation .listNavigationItem:hover i {
    color: var(--white-color);
}